/* css library*/

/* color bg color properties */
.color-white {
    color: white;
}
.bgBlack {
    background-color: $black;
    opacity: 0.7;
}

/* text-alignment properties */
.text-center {
    text-align: $center;
}

.text-right {
    text-align: $right;
}

.text-left {
    text-align: $left;
}

.display-inline {
    display: inline;
}

/* flex properties */
.display-flex {
    display : flex;
}

.flex-column {
    flex-direction : column;
}

.flex-center {
    justify-content: $center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center-align {
    align-items: $center;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}


/* margin padding properties */
.margin-horizontal-sm {
    margin: $empty $size-sm $empty $size-sm;
}

.margin-horizontal-md {
    margin: $empty $size-md $empty $size-md;
}

.margin-horizontal-lg {
    margin: $empty $size-lg $empty $size-lg;
}

.margin-vertical-sm {
    margin: $size-sm $empty $size-sm $empty;
}

.margin-vertical-md {
    margin: $size-md $empty $size-md $empty;
}

.margin-vertical-lg {
    margin: $size-lg $empty $size-lg $empty;
}

.margin-vertical-xlg {
    margin: 36px $empty 36px $empty;
}

.margin-collapse-left {
    margin-left: $empty !important;
}

.margin-collapse-right {
    margin-right: $empty !important;
}

.padding-horizontal-sm {
    padding: $empty $size-sm $empty $size-sm;
}

.padding-horizontal-md {
    padding: $empty $size-md $empty $size-md;
}

.padding-horizontal-lg {
    padding: $empty $size-lg $empty $size-lg;
}

.padding-vertical-sm {
    padding: $size-sm $empty $size-sm $empty;
}

.padding-vertical-md {
    padding: $size-md $empty $size-md $empty;
}

.padding-vertical-lg {
    padding: $size-lg $empty $size-lg $empty;
}

.padding-vertical-xlg {
    padding: $size-xlg $empty $size-xlg $empty;
}

.padding-horizontal-xlg {
    padding: $empty $size-xlg $empty $size-xlg;
}

.padding-collapse-right {
    padding-right: $empty !important;
}

.padding-collapse-left {
    padding-left: $empty !important;
}


/* text font size properties */
.text-size-sm {
    font-size: calc(0.9rem + 0.7vw);
}

.text-size-md {
    font-size: calc(1rem + 1vw);;
}

.text-size-lg {
    font-size: calc(1rem + 2vw);
}

.font-weight-md {
    font-weight: 500;
}

.text-underline {
    text-decoration: underline;
}
