$size-sm: 7px;
$size-md: 14px;
$size-lg: 21px;
$size-xlg: 36px;
$empty: 0px;

$black: #000000;
$white: #ffffff;

$center: center;
$right: right;
$left: left;
$hidden: hidden;
$absolute: absolute;
$relative: relative;