body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 56.25em)
html {
    font-size: 50%;
}

@media (max-width: 75em)
html {
    font-size: 56.25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroImage {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./Images/bg1.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%);
}

.heroImage2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./Images/bg2.jpg");
  background-size: cover;
  transform: skewY(-7deg);
}

.heroImage2 > * {
  transform: skewY(7deg);
}

.welcome {
   height:460px;
   color: #ffffff;
}

.hello {
  animation: left 1s ease-out;
  -webkit-animation: left 1s ease-out;
  -moz-animation: left 1s ease-out;
}

@keyframes left {
    0% {
        opacity:0;
        transform: translatex(-10rem);
    }
    80% {
        transform: translatex(10rem);
    }
    100% {
        transform: translatex(0rem);
    }
}

.developer {
  animation: right 1s ease-out;
  -webkit-animation: right 1s ease-out;
  -moz-animation: right 1s ease-out;
}

@keyframes right {
    0% {
        opacity:0;
        transform: translatex(10rem);
    }
    80% {
        transform: translatex(-1rem);
    }
    100% {
        transform: translatex(0rem);
    }
}

.contactButton {
    animation: bottom 500ms ease-out 750ms;
    animation-fill-mode: backwards;
}

.contactButton:hover {
    transform: scale(1.12);
}

@keyframes bottom {
    0% {
        opacity:0;
        transform: translatey(3rem);
    }
    100% {
        transform: translatey(0rem);
    }
}
.logo {
    color: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.abstractLogo:hover {
    transform: scale(1.12);
}

.cards {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 2.5rem;
   text-align: center;
   border-radius: .3rem;
   box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
   transition: transform 300ms;
   //height: 345px;
}

.cards:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 2rem rgba(255, 223, 0, 1);

}

.cardWrapper {
   margin-right: 14px !important;
   margin-left: 14px !important;
   padding: 150px 0 150px 0;
}

@media screen and (min-width: 415px) {
    .heroImage {
      height: 1000px;
    }

    .heroImage2 {
      margin-bottom: 7rem;
    }

    .welcome {
       height:620px;
    }
}

.text-color {
   color: #ffc107;
}

.project {
    height: 42rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}

.cardSide {
    height: 40rem;
    transition: all 800ms ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.cardFront {
    background-color: #fff;
}

.cardBack {
    transform: rotateY(180deg);
}

.cardBackFill_1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.cardBackFill_2 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.cardBackFill_3 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.cardCTA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.cardBackText {
    color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
}
.project:hover .cardFront {
    transform: rotateY(-180deg);
}

.project:hover .cardBack {
    transform: rotateY(0);
}

.cardPicture {
    height: 19rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.cardFrontImage1 {
    background: linear-gradient(to right bottom, rgb(241, 39, 17), rgb(245, 175, 25)), url("./Images/bg3.jpg");
}

.cardFrontImage2 {
    background: linear-gradient(to right bottom, rgb(55, 59, 68), rgb(66, 134, 244)), url("./Images/bg3.jpg");
}

.cardFrontImage3 {
    background: linear-gradient(to right bottom, rgb(20, 21, 23), rgb(106, 145, 19)),  url("./Images/bg3.jpg");
}

.cardHeading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 1.9rem;
    width: 75%;
    z-index: 1;
    line-height: 3.5rem;
}
.cardHeading_span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.cardHeading_span_1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.cardDetails {
    padding: 3rem;
}

.cardDetails ul{
    list-style: none;
    width: 80%;
}

.cardDetails ul li {
    text-align: center;
    font-size: 1.4rem;
    padding: 0.2rem;
}

.cardDetails ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.socialIcons:hover {
    transform: translateY(-0.2rem) scale(1.03);
}

/* css library*/

.color-white {
    color: white;
}
.bgBlack {
    background-color: #000000;
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.display-inline {
    display: inline;
}

.display-flex {
    display : flex;
}

.flex-column {
    flex-direction : column;
}

.flex-center {
    justify-content:center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center-align {
    align-items: center;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.margin-horizontal-sm {
    margin: 0 7px 0 7px;
}

.margin-horizontal-md {
    margin: 0 14px 0 14px;
}

.margin-horizontal-lg {
    margin: 0 21px 0 21px;
}

.margin-vertical-sm {
    margin: 7px 0 7px 0;
}

.margin-vertical-md {
    margin: 14px 0 14px 0;
}

.margin-vertical-lg {
    margin: 21px 0 21px 0;
}

.margin-vertical-xlg {
    margin: 36px 0 36px 0;
}

.margin-collapse-left {
    margin-left: 0 !important;
}

.margin-collapse-right {
    margin-right: 0 !important;
}

.padding-horizontal-sm {
    padding: 0 7px 0 7px;
}

.padding-horizontal-md {
    padding: 0 14px 0 14px;
}

.padding-horizontal-lg {
    padding: 0 21px 0 21px;
}

.padding-vertical-sm {
    padding: 7px 0 7px 0;
}

.padding-vertical-md {
    padding: 14px 0 14px 0;
}

.padding-vertical-lg {
    padding: 21px 0 21px 0;
}

.padding-vertical-xlg {
    padding: 36px 0 36px 0;
}

.padding-horizontal-xlg {
    padding: 0 36px 0 36px;
}

.padding-collapse-right {
    padding-right: 0 !important;
}

.padding-collapse-left {
    padding-left: 0 !important;
}

.text-size-sm {
    font-size: calc(0.9rem + 0.7vw);
}

.text-size-md {
    font-size: calc(1rem + 1vw);;
}

.text-size-lg {
    font-size: calc(1rem + 2vw);
}

.font-weight-md {
    font-weight: 500;
}

.text-underline {
    text-decoration: underline;
}


